LOCATE COMP "clk48" SITE "A9";
IOBUF PORT "clk48" IO_TYPE=LVCMOS33;

LOCATE COMP "rgb_led0_r" SITE "T17";
LOCATE COMP "rgb_led0_g" SITE "V17";
LOCATE COMP "rgb_led0_b" SITE "J3";

IOBUF PORT "rgb_led0_r" IO_TYPE=LVCMOS33;
IOBUF PORT "rgb_led0_g" IO_TYPE=LVCMOS33;
IOBUF PORT "rgb_led0_b" IO_TYPE=LVCMOS33;